venv_bees/*
cuda/*
_pycache_/*
.ipynb_checkpoints/*
old/*
src/yolo/data/*
Metriques.docx
Fonctionnement.odt
data_bees_detection/*  
src/crop/data/*
venv_bees_v2/*
src/segment-anything/checkpoints/*
src/segment-anything/imgs/*
src/segment-anything/other/*
src/yolo/data/saved_weights/ResNet_bestLoss.h5 
