venv_bees/*
cuda/*
data_bees_detection/*  
venv_bees_v2/*
Metriques.docx
requirements.txt
src/segment-anything/checkpoints/*
src/segment-anything/other/*
src/segment-anything/segment_anything/*
src/datafiles/classification/benchmark/*
src/datafiles/classification/saved_weights/*
src/datafiles/classification/pickles/*
src/datafiles/classification/outputs/*
src/datafiles/classification/outputs/*
src/datafiles/classification/inputs/*
src/datafiles/classification/evaluations/*
src/datafiles/crop/images_with_bbox/*
src/datafiles/classification/saved_weights/*
src/datafiles/segment-anything/*
src/datafiles/yolo/saved_weights/*
src/datafiles/yolo/pickles/*
src/datafiles/yolo/outputs/*
src/datafiles/crop/*
**/__pycache__/*
src/classification/old/not_that_old/vgg16_2_species.h5
src/classification/drive/MyDrive/Stage2A/cap500/WideResNet50-2/PoidsWR50-2/best_model_wideresnet50-2.data-00000-of-00001
src/classification/drive/MyDrive/Stage2A/cap500/WideResNet50-2/PoidsWR50-2/best_model_wideresnet50-2.index
src/classification/drive/MyDrive/Stage2A/cap500/WideResNet50-2/PoidsWR50-2/checkpoint
